@import "nav.css";
@import "header.css";
@import "main.css";
@import "mobile-style.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #0d0d0d;
  --color-2: #18222b;
  --color-3: #2c3540;
  --color-4: #e5e5e5;
  --color-5: #408080;
  --color-6: #2594d9;
  --font-nav: "Roboto", sans-serif;
  --font-principal: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
body {
  background: rgb(2, 1, 6);
  background: linear-gradient(
    90deg,
    rgba(2, 1, 6, 1) 29%,
    rgba(18, 25, 38, 1) 63%,
    rgba(19, 35, 69, 1) 88%
  );
  color: var(--color-4);
}

/*Habilidades*/
.container-skil {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  margin: 50px auto;
  padding: 20px;
  box-sizing: border-box;
}

.header-skil {
  font-family: var(--font-principal);

  color: var(--color-4);
  margin-bottom: 20px;
}

.header-skil h2 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}

.header-skil p {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
}

.icons-skil {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icon-tec {
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid var(--color-4);
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.icon-tec h2 {
  font-size: 34px;
}

.icon-tec p {
  font-size: 18px;
}

.icon-tec:hover {
  transform: scale(1.1);
  text-shadow: var(--color-6) 0px 0px 15px;
  border-color: var(--color-6);
}
